<header class="header">
    <div class="container">
      <nav class="main-nav">
        <div class="main-nav__logo">
          <a href="./index.html" lang="en" class="logo">
            <svg class="logo__svg" width="24" height="24">
              <use href="./images/film.svg#film-icon"></use>
            </svg>
            <span class="logo__title">Filmoteka</span>
          </a>
        </div>
  
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="./index.html" class="main-nav__link "
              >Home</a
            >
          </li>
          <li class="main-nav__item">
            <a href="./my-library.html" class="main-nav__link main-nav__link--current">My library</a>
          </li>
        </ul>
      </nav>
  
      <div class="header-library__btn-list">
        <button class="header-library__btn header-library__btn-active" id="library-watched" type="button">Watched</button>
        <button class="header-library__btn" id="library-queue" type="button">Queue</button>
      </div>
    </div>
</header>  
<main>
    <section class="main-section__library">
      <h1 class="visually-hidden">My Library</h1>
      <div class="container gallery__container">
        <ul class="gallery__list" id="movie-list">
    
        </ul>
  
      </div>
       <div class="not-img-stile not-img">
          <div>
              <img  src="./images/empty.png" alt="" width="auto" height="auto">
          </div>
          <div class="">
            <p class="library__text-wrap">Ouhh... it's empty! <br>Add your favorite movies.</p>
          </div>
       </div>
                 <!-- ADD MOVIE TO Watched OR Queue  -->
    
      </div>
    </section>
</main>